<mat-card>
  <mat-toolbar style="background-color: #811d1d;">
    <mat-card-content>
      <form [formGroup]="formSearchType" class="min-width">
        <div class="form-properties">
          <mat-form-field appearance="fill" class="children">
            <mat-label>Pesquisar por</mat-label>
            <mat-select required formControlName="type">
              <mat-option value="id">Id</mat-option>
              <mat-option value="nome">Nome</mat-option>
              <mat-option value="cpf">CPF</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="children">
            <mat-label>Item a ser pesquisado</mat-label>
            <input matInput type="text" [(ngModel)]="formSearchType.value.value" [ngModelOptions]="{standalone: true}" required>
            <button *ngIf="formSearchType.value.value" matSuffix mat-icon-button aria-label="Limpar" (click)="formSearchType.value.value = ''" title="Limpar">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <button class="children" mat-mini-fab style="background-color: rgb(221, 90, 90);" aria-label="Busca Personalizada" title="Busca Personalizada" (click)="onSubmit()">
            <mat-icon>search</mat-icon>
          </button>

        </div>
      </form>
    </mat-card-content>
  </mat-toolbar>

  <div class="column-flex mat-elevation-z8">
    <app-medico-list *ngIf="medicos$ | async as medicos; else loading "[medicos]="medicos" (add)="onAdd()" (edit)="onEdit($event)" (delete)="onDelete($event)" (view)="onView($event)">

    </app-medico-list>

    <ng-template #loading >
      <div class="loading-spinner">
          <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>

  <button class="back" mat-fab color="primary" aria-label="Back to doctor's page" title="Voltar" (click)="onBack()">
    <mat-icon>arrow_back_ios_new</mat-icon>
  </button>

</mat-card>
