<h2 mat-dialog-title>Informações do Administrador</h2>
<mat-dialog-content class="mat-typography">
  <h3 class="special-p">Id do Administrador:</h3>
  <p>{{data.id}}</p>

  <h3 class="special-p">Id do Médico da Consulta:</h3>
  <p>{{data.idMedico}}</p>

  <h3 class="special-p">Id do Paciente da Consulta:</h3>
  <p>{{data.idPaciente}}</p>

  <h3 class="special-p">Data da Consulta</h3>
  <p>{{data.data}}</p>

  <h3 class="special-p">Hora da Consulta</h3>
  <p>{{data.hora}}</p>

  <h3 class="special-p">Valor da Consulta</h3>
  <p>{{data.valor}}</p>

  <h3 class="special-p">Forma de Pagamento da Consulta</h3>
  <p>{{data.formaPagamento}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
