<mat-toolbar color="primary">
  <span>Projeto Clínica</span>
</mat-toolbar>

<div class="main-container" *ngIf="login.logged == true">
  <mat-card class="example-card" (click)="onAdministrator()">
    <mat-card-title>Administradores</mat-card-title>
  </mat-card>

  <mat-card class="example-card" (click)="onDoctor()">
    <mat-card-title>Médicos</mat-card-title>
  </mat-card>

  <mat-card class="example-card" (click)="onPatient()">
    <mat-card-title>Pacientes</mat-card-title>
  </mat-card>

  <mat-card class="example-card" (click)="onAppointment()">
    <mat-card-title>Consultas</mat-card-title>
  </mat-card>
</div>

<router-outlet></router-outlet>
