.example-card {
  max-width: 400px;
  max-height: 85px;
  text-align: justify;
  background-color: #7A8FC9EE;
}

.example-card p {
  font-size: 8.5px;
}

.main-container {
  display: flex;
  justify-content: space-around;
  background-color: #7A8FC9EE;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
